:root {
    --color-darkGreen: #013444;
    --color-lightGreen: #51b64b;
    --color-vggBlue: #2992d0;
    --color--grey-text: #333;
}


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 70.5%;
}

section {
    padding: 40px 0;
}

header {
    height: 55vh;
    position: relative;
    border-bottom: 3px solid #51b64b;
    background-image: url(../images/img1.jpg);
    background-position: 100% 100%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    background-color: rgba(1, 48, 66, 0.75);
}

.job-count {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

nav#nav {
    background-color: #013444e8;
}

.navbar a.navbar-brand {
    font-size: 30px;
}

.navbar li.nav-item a.nav-link {
    font-size: 15px;
    color: #fff;
}

.navbar li.nav-item a.nav-link:active,
.navbar li.nav-item a.nav-link:hover {
    color: var(--color-lightGreen)
}

a:hover {
    text-decoration: none;
}


.single-post {
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #eee;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.single-post:hover {
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.1);
}

.details {
    width: 100%;
}

.titles h4 {
    font-size: 20px;
    color: var(--color-vggBlue)
}

.titles h4:hover {
    color: #1f638a
}

.titles h6 {
    font-size: 16px;
    color: var(--color--grey-text)
}

.title a.view {
    font-size: 18px;
    margin-right: 10px;
    padding: 5px 12px;
    background-color: var(--color-lightGreen);
    align-self: center;
    border-radius: 3px;
    color: #fef;
}

.title a.view:hover {
    background-color: var(--color-vggBlue);
    color: #fef
}

a#delete:link,
a#delete:active,
a#delete:visited {
    font-size: 18px;
    margin-right: 10px;
    padding: 5px 12px;
    background-color: red;
    align-self: center;
    border-radius: 3px;
    color: #fef;
}

a#delete:hover {
    background-color: rgb(156, 26, 26);
    color: #fef
}

.description {
    font-size: 12px;
    color: var(--color--grey-text)
}

.details h5 {
    font-size: 16px;
    color: var(--color--grey-text)
}

.address,
.salary {
    font-size: 10px;
    color: var(--color--grey-text)
}


.fab {
    font-size: 20px;
}


footer input#footer-email {
    padding: 6px 12px;
    width: 100%;
    font-size: 16px;
    margin-bottom: 10px;
}

.subscribe {
    margin-bottom: 10px;
}

.footer-social {
    width: 100%;
}

.site-footer {
    padding: 20px;
    background-color: #242424
}

footer {
    background: #242c36;
    padding: 60px 0 0 0;
}

.copy-right {
    color: #fff;
    padding: 12px 0;
    text-align: center;
    margin-top: 30px;
    font-size: 12px;
}

.copy-right a {
    color: rgb(12, 202, 21);
}

footer img {
    margin-bottom: 20px;
}

footer h4 {
    color: rgba(255, 255, 255, 0.7);
    /* text-transform: uppercase; */
    font-size: 20px;
    font-weight: 400;
}

footer ul {
    margin: 0;
    padding: 0;
}

footer ul li {
    list-style: none;
}

footer ul li a {
    color: #636e7b;
    line-height: 2;
}

footer ul li a:hover {
    color: rgb(12, 202, 21);
    text-decoration: none;
}

footer address ul li {
    margin-bottom: 10px;
    line-height: 1.8;
    color: #636e7b;
}

footer .form-control {
    border: 1px solid #3f4a58;
    margin-bottom: 7px;
    border-radius: 2px;
    box-shadow: none;
    color: #8796a9;
    height: 45px;
    font-size: 14px;
    background: rgba(0, 0, 0, 0.4);
}

footer textarea.form-control {
    height: 70px;
}

footer ul span {
    color: rgb(12, 202, 21);
}