:root {
    --color-darkGreen: #013444;
    --color-lightGreen: #51b64b;
    --color-vggBlue: #2992d0;
    --color--grey-text: #333;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 62.5%;
    /* font-family: "Montserrat", sans-serif; */
    font-family: 'Quicksand', sans-serif;
    /* font-family: 'Source Sans Pro', sans-serif; */
}

header {
    height: 50vh;
    position: relative;
    border-bottom: 3px solid #51b64b;
    background-image: url("../images/adult-businessman-close-up-374820.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    /* border-bottom: 0 !important; */
}

/* .overlay {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      background-color: rgb(246, 250, 249);
  } */


#view {
    height: 40vh;
}

nav#nav {
    background-color: #fff;
}

.navbar a.navbar-brand {
    font-size: 35px;
}

.navbar li.nav-item a.nav-link:active,
.navbar li.nav-item a.nav-link:visited,
.navbar li.nav-item a.nav-link:link {
    font-size: 20px;
    color: #000;
    margin-left: 50px;
}

.navbar li.nav-item a.nav-link:hover {
    color: var(--color-lightGreen);
}



section {
    padding: 40px 0;
}

.head #headerText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    color: var(--color-lightGreen);
    font-size: 60px;
}

.single-post {
    padding-bottom: 30px;
    margin-bottom: 50px;
    border-bottom: 3px solid #f5f5f5;
}

.navbar-light .navbar-nav .active>.nav-link #active {
    color: var(--color-vggBlue);
}

.blog-content h4 {
    font-size: 20px;
    text-transform: uppercase;
    text-align: left;
    line-height: 1.6;
    letter-spacing: 2px;
    color: #000;
    margin-bottom: 40px;
}

#title {
    flex: 0 0 48%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#image {
    flex: 0 0 48%;
}

img#indexImage {
    max-width: 100%;
}

#main-title {
    width: 100%;
    display: flex;
    height: 100%;
    justify-content: space-between;
}

.blog-content p {
    font-size: 18px;
    color: var(--color--grey-text);
    margin-bottom: 30px;
}

.title a.view {
    font-size: 18px;
    margin-top: 20px;
    padding: 9px 30px;
    background-color: #f0f0f0;
    align-self: center;
    border-radius: 3px;
    color: #333;
    text-decoration: none;
}

.title a.view:hover {
    background-color: #000;
    color: #fff;
}

@media (max-width: 1024px) {
    .download-right .flex-row {
        flex-direction: column !important;
        display: inline-block !important;
    }
}

@media (max-width: 960px) {
    .download-right {
        padding-left: 15px;
    }
}

.subs {
    font-size: 12px;
}

.download-area {
    background-color: #f9f9ff;
}

@media (max-width: 960px) {
    .download-left {
        margin-bottom: 50px;
    }
}

.download-right {
    padding-left: 65px;
}

.download-right .subs {
    padding: 20px 0;
}

@media (max-width: 1024px) {
    .download-right .flex-row {
        flex-direction: column !important;
        display: inline-block !important;
    }
}

@media (max-width: 960px) {
    .download-right {
        padding-left: 15px;
    }
}

.buttons {
    background: #fff;
    display: flex;
    padding: 20px 30px 0px 30px;
    margin-right: 20px;
    border: 1px solid #eee;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #fff;
    color: #222;
}

.buttons i {
    font-size: 40px;
    padding-right: 20px;
    color: #51b64b;
}

.buttons:hover {
    cursor: pointer;
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.1);
    background: #51b64b;
    color: #fff;
}

.buttons:hover i,
.buttons:hover a {
    color: #fff !important;
}

.buttons a {
    color: #222;
}

.buttons p span {
    font-size: 24px;
    font-weight: 600;
}

@media (max-width: 1024px) {
    .buttons {
        margin-bottom: 30px;
    }
}

.fab {
    font-size: 20px;
}

footer input#footer-email {
    padding: 5px 12px;
    width: 100%;
    font-size: 16px;
    margin-bottom: 10px;
}

.subscribe {
    margin-bottom: 10px;
}

.footer-social {
    width: 6%;
    display: flex;
    /* justify-content: space-between; */
    margin-top: 20px;
}

footer li {
    font-size: 16px;
    color: white;
}

footer ul li {
    list-style: none;
}

.site-footer {
    padding: 20px;
    background-color: #242424;
}

footer h3 {
    color: #fff;
}

.modal-body label {
    font-size: 18px;
}

footer {
    background: #242c36;
    padding: 60px 0 0 0;
}

.copy-right {
    color: #fff;
    padding: 12px 0;
    text-align: center;
    margin-top: 30px;
    font-size: 12px;
}

.copy-right a {
    color: rgb(12, 202, 21);
}

footer img {
    margin-bottom: 20px;
}

footer h4 {
    color: rgba(255, 255, 255, 0.7);
    /* text-transform: uppercase; */
    font-size: 20px;
    font-weight: 400;
}

footer ul {
    margin: 0;
    padding: 0;
}

footer ul li {
    list-style: none;
}

footer ul li a {
    color: #636e7b;
    line-height: 2;
}

footer ul li a:hover {
    color: rgb(12, 202, 21);
    text-decoration: none;
}

footer address ul li {
    margin-bottom: 10px;
    line-height: 1.8;
    color: #636e7b;
}

footer .form-control {
    border: 1px solid #3f4a58;
    margin-bottom: 7px;
    border-radius: 2px;
    box-shadow: none;
    color: #8796a9;
    height: 45px;
    font-size: 14px;
    background: rgba(0, 0, 0, 0.4);
}

footer textarea.form-control {
    height: 70px;
}

footer ul span {
    color: rgb(12, 202, 21);
}

.fullPage {
    position: relative;
}

.sidebar {
    position: sticky;
    top: 100px;
    height: 100vh;
}

/* Add Job  start */

label {
    font-size: 16px;
}

/* background: linear-gradient(45deg, #2992d0, #51b74b) !important; */